@import "mocha.css";
window {
  background-color: transparent;
}
*{
  border-radius: 25px;
}
/* Outer bar container, takes all the window width/height */
#outer-box {
	margin: 0px
}

/* Inner bar container, surrounds buttons */
#inner-box {
	background-color: @mantle;
	border-radius: 25px;
	border-style: none;
	border-width: 1px;
	border-color: rgba (156, 142, 122, 0.7);
	padding: 5px;
	margin: 5px
}

button, image {
	background: none;
	border: none;
	box-shadow: none
}

button {
  color: @text;
  background-color: @base;
	padding-left: 10px;
	padding-right: 10px;
	margin: 5px
}

button:hover {
	background-color: @surface0;
}
